    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border: 0;
    font-family: Arial, Helvetica, sans-serif;
  }

    main {
    height: calc(100vh - 60px);
  }
  
    nav {
    display: flex;
    justify-content: space-between;
  }
  
    nav.right img{
    width: 14px;
    height: 14px;
  }
  
    nav.right > a:last-child img{
    border-radius: 50%;
    width: 24px;
    height: 24px;
  }
  
    nav.left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
    nav.right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
    nav.left a {
    padding: 5px;
    color: #70757a;
    font-size: 14px;
  }
  
    nav.right a {
    padding-right: 5px;
    color: #70757a;
    font-size: 14px;
  }
  
    .search-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 60px auto;
  }
  
    .search-text {
    position: relative;
    border: 1px solid #dfe1e5;
    border-radius: 26px;
    margin-top: 20px;
  }
  
    .search-text label {
    position: absolute;
    top: 10px;
    left: 15px;
    color: #777a7c;
  }
  
    .search-text img {
    position: absolute;
    top: 10px;
    right: 20px;
    width: 30px;
    height: 30px;
  }

    .search-text input {
    width: 400px;
    height: 40px;
    border-radius: 50px;
    padding: 0 50px 0 50px;
    font-size: 14px;
  }
  
    .buttons button {
    background-color: #ffffff;
    border: 1px solid #c9c5c5;
    border-radius: 4px;
    color: #4e4f50;
    height: 40px;
    padding: 10px 20px;
    margin-top: 20px;
    margin-right: 10px;
    font-size: 14px;
    cursor: pointer;
  }
  
    .buttons button:hover {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 10%);
    border: 1px solid #dde4f1;
    color: #1b1d22;
  }
  
    footer {
    display: flex;
    justify-content: space-between;
    background-color: #eee7e7;
    padding: 25px;
    color: #888a8b;
    height: 60px;
  }
  
    footer.buttom-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
    footer.buttom-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  